<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sports competitions scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/games}">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/teams}">Teams</a>
                </li>
            </ul>
            <form class="d-flex" role="search" th:action="@{/teams/byName}" th:method="GET">
                <input class="form-control me-2" type="text" name="keyword" th:value="${keyword}"
                       placeholder="Search by name" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto mt-3">
            <div class="mb-3">
                <h1>All teams</h1>
            </div>
            <div class="mb-3">
                <form th:action="@{/teams/create}" th:method="GET">
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
            <div th:if="${!allTeams.isEmpty()}">
                <table class="table table-dark table-striped table-bordered w-auto">
                    <tbody>
                    <tr>
                        <th>№</th>
                        <th>Team</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    <tr th:each="team : ${allTeams}">
                        <td>
                            <span th:text="${teamStat.index} + 1"></span>
                        </td>
                        <td>
                            <a th:href="@{/teams/{id}(id=${team.id})}">
                                <span th:text="${team.name}"></span>
                            </a>
                        </td>
                        <th>
                            <form th:action="@{/teams/update/{id}(id=${team.id})}" th:method="GET">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </th>
                        <th>
                            <form th:action="@{/teams/delete/{id}(id=${team.id})}" th:method="GET">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${!allTeams.isEmpty()}">
                <h3>Teams list is empty</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>