<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sports competitions scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/games}">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/teams}">Teams</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div th:if="${team != null}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto mt-3">
                <div class="mb-3">
                    <h1 th:text="${team.name}"></h1>
                    <div th:if="${!team.gameResultList.isEmpty()}">
                        <table class="table table-dark table-striped table-bordered w-auto">
                            <tr>
                                <th>№</th>
                                <th>Teams</th>
                                <th>Score</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                            <tr th:each="gameResult : ${team.gameResultList}">
                                <td>
                                    <span th:text="${gameResultStat.index} + 1"></span>
                                </td>
                                <td>
                                    <span th:each="gr : ${gameResult.game.gameResultList}">
                                        <a th:href="@{/teams/{id}(id=${gr.team.id})}">
                                            <span th:text="${gr.team.name}"></span>
                                        </a>
                                        <span th:if="${grStat.index} != ${gameResult.game.gameResultList.size - 1}">
                                            -
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span th:each="gr : ${gameResult.game.gameResultList}">
                                        <span th:text="${gr.teamScore}"></span>
                                        <span th:if="${grStat.index} != ${gameResult.game.gameResultList.size - 1}">
                                            :
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span th:text="${gameResult.game.beginningDateTime.toLocalDate()}"></span>
                                </td>
                                <td>
                                    <span th:text="${gameResult.game.beginningDateTime.toLocalTime()}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div th:unless="${!team.gameResultList.isEmpty()}">
                        <h3><span th:text="${team.name}"></span> didn't take part in any of the games</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:unless="${team != null}">
    <h1>There is no such team</h1>
</div>
</body>
</html>